body {
    background-image: linear-gradient(to right, red, yellow);
}

head {
    background-color: blueviolet;
}

h1 {
    color: white;
    font-size: 80px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

p {
    color: white;
    font-size: 25px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

h2 {
    color: white;
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

h3 {
    color: white;
    font-size: 60px;
    text-align: center;
    border: 5px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.topnav {
    background-color: white;
    overflow: hidden;
}

.topnav a {
    float: middle;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.topnav a.hover {
    background-color: aqua;
    color: aqua;
}

.topnav a.active {
    background-color: blueviolet;
    color: blueviolet;
}