body {
    background-image: linear-gradient(to right, red, yellow);
}

h1 {
    color: white;
    font-size: 80px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

p {
    color: white;
    font-size: 25px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

h2 {
    color: white;
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

h3 {
    color: white;
    font-size: 60px;
    text-align: center;
    border: 5px;
    font-family: "Lucida Console", "Courier New", monospace;
}

button {
    background-color: blue;
    color: white;
    font-size: 30px;
    text-align: left;
    font-family: "Lucida Console", "Courier New", monospace;
    height: 40px;
    width: 50%;
    border-radius: 25px;
}

input {
    background-color: blue;
    color: white;
    font-size: 30px;
    text-align: left;
    font-family: "Lucida Console", "Courier New", monospace;
    height: 40px;
    width: 50%;
    border-radius: 25px;
}

textarea {
    background-color: blue;
    color: white;
    font-size: 30px;
    text-align: left;
    font-family: "Lucida Console", "Courier New", monospace;
    height: 120px;
    width: 50%;
    border-radius: 25px;
    align-self: center;
}

.topnav a {
    float: middle;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.topnav a.hover {
    background-color: aqua;
    color: aqua;
}